<html>
<title>Signup Page</title>
<div>
<% if flash[:alert] %>
<p style="color:red;"><%= flash[:alert]%></p>
<% end %>
</div>
<%if session[:user_name]==="Admin"%>
	<h1 style="color:green;font-size:30px;"><center>Create User</center></h1><br><br><br>
<%else%>
	<h1 style="color:green;font-size:30px;"><center>Signup Now!</center></h1><br><br><br>
<%end%>
<%= render 'form', user: @user %>
<div style="color:green;font-size:20px;">
<center>
<br>
<%if session[:user_name]==="Admin"%>
<%= link_to 'Back', admin_path ,style: "color:green;text-decoration:none;background-color:white;"%>
<%else%>
<%= link_to 'Back', users_path ,style: "color:green;text-decoration:none;background-color:white;"%>
<%end%>
</center>
</div>
</html>